* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    height: 100vh;
    padding-top: 2rem;
    background-color: #ececec;
}

section {
    margin: auto;
    max-width: 50rem;
}

table {
    width: 100%;
    border-radius: 5px;
}

.section {
    padding: 1rem 2rem;
}

.title {
    padding: 1rem 2rem 5rem;
}

.buttons {
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}